@import "../../../GlobalStyle.less";


.arcan-input{
    padding-top: @section-separation;
    offset-anchor: 200px;
    .header{
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        h2{
            color: white;
            margin-right: 10px;
        }
    }
}
