@import (css) url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
    font-family: "Athios";
    src: url("../src/font/Athios.otf");
}

@title-font: "Athios";
@text-font : 'Questrial';

@title-color : #EDC700;
@text-color: #8e8e8e;

@purple : #860C55;

@background : #202020;

@text-margin : 20px 0px;